<p>Hola <%= @resource.email %>!</p>

<p>Un pajarito nos ha dicho que necesitas una nueva contraseña.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>No te preocupes si no has sido tú quien ha solicitado el cambio, ignora este email en ese caso.</p>
<p>Tu contraseña no se cambiará hasta que introduzcas una nueva.</p>
