<p>Hola <%= @resource.username %>!</p>

<p>Alguien ha solicitado un cambio de contraseña. Puedes hacerlo en el link que aparece a continuación.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no has sdo tú quien ha solicitado el cambio, por favor, ignora este email.</p>
<p>Tu contraseña no será cambiada hasta que pinches en el link y la modifiques por una nueva.</p>
